/* some style */
/* TODO Need to make this SASS */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

body.hide-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide-scroll .Main {
  /* opacity: 0; WE need to move this to the warpper on the home page content itself not hte overall wrap */
}

.Page {
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white; /* TODO Work this into a theme config option - would be fun */
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px; /* needed for ads to not cover content TODO work this into a config option*/
  opacity: 0;
}

.Page.active {
  top: 0;
  opacity: 1;
}

.Controls {
  height: 75px;
  display: flex;
  color: white;
  background: #47484a;
  z-index: 3;
}

.Controls__inner{
  display: flex;
  margin: 0 auto;
  padding-top: 3px;
}

.ControlItem {
  text-align: center;
}

.ControlItem p {
  margin: 0;
  font-size: 12px;
}


.Controls img.active {
  border: 4px solid #386bd2;
}

.Controls img {
  border: 4px solid transparent;
}

.Controls svg.active {
  border: 4px solid #386bd2;
}

.Controls svg {
  border: 4px solid transparent;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.Control_overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -200vh;
  left: 0;
  background: rgba(0,0,0,0.65);
  transition: all .25s;
  z-index: 500;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.Control_overlay.active {
  top: 0;
}

.Control_overlay_close {
  margin-bottom: 30px;
}

.tileGroup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tileGroup__group {
  width: 60px;
  margin: 0 12px;
  box-sizing: border-box;
}

.tileGroup__group.active {
  border: 4px solid #386bd2;
}

@media (min-width: 800px) {
  .tileGroup__group {
    width: 20%;
  }
}

.tileGroup h3 {
  width: 50%;
  text-align: left;
}

.Stage {
  height: 100vh;
  width: 100%;
}
.canvasParent {
  width: 100%;
  height: 500px;
  height: calc(100% - 75px);
  overflow: hidden;
  position: relative;
}

#Canvas {
  border: 1px solid black;
  width: 3000px;
  height: 3000px;
}


/* *******HOME PAGE STYLES******* */

.Home {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white;
  z-index: 500;
  display: flex;
  justify-content: : center;
  align-items: center;
  text-align: center;
  background-image: url('../sample.jpg');
  background-size: cover;
  background-position: center center;
}

.Home.active {
  top: 0px;
}

.Home-content-wrapper {
  /* background-color: white; */
  /* background-image: radial-gradient(circle closest-side, #f1f1f1, transparent); */
  width: 100%;
  background-color: rgba(242,242,242,.90);
  margin: 0 auto;
  padding-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.Home-button-wrapper button {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
  background: transparent;
  text-transform: uppercase;
}


.LoadOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: calc(-115% - 100px);
  left: 0;
  transition: all .25s;
  background: white;
  z-index: 600;
}

.LoadOverlay.active {
  top: 0px;
}

.LoadOverlay__close {
  position: absolute;
  top: 5px;
  left: 10px;
}

.LoadOverlay h2 {
  margin-top: 60px;
}

.LoadOverlay .MapButton {
  font-size: 20px;
}



/* SAVE OVERLAY STUFF */

.saveOverlay {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background: white;
  z-index: -1;
  transition: position .25s;
  padding: 10px;
  border-bottom: 1px solid black;
}

.saveOverlay.active {
  z-index: 2;
  top: 75px;
}

.saveOverlay button {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
  background: transparent;
  text-transform: uppercase;
}

.saveOverlay input {
  border: 1px solid orange;
  font-size: 16px;
  padding: 5px;
  position: relative;
  bottom: 1px;
}

