/* some style */


@font-face {
  font-family: RobotoMono;
  src: url(RobotoMono-Regular.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: RobotoMono, monospace;
}

body.hide-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide-scroll .Main {
  /* opacity: 0; WE need to move this to the warpper on the home page content itself not hte overall wrap */
}

/* These two lines remove highlighting on text - bad for a app but okay since we don't want button like items to be highlighted on mobile apps. */
::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}

.Page {
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white; /* TODO Work this into a theme config option - would be fun */
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px; /* needed for ads to not cover content TODO work this into a config option*/
  opacity: 0;
}

.Page.active {
  top: 0;
  opacity: 1;
}

.Page.Preview {
  z-index: 600;
}

.Controls {
  height: 75px;
  display: flex;
  color: white;
  background: #47484a;
  z-index: 3;
}

.Controls__inner{
  display: flex;
  margin: 0 auto;
  padding-top: 3px;
}

.ControlItem {
  text-align: center;
  box-sizing: border-box;
  border: 4px solid transparent;
}

.ControlItem p {
  margin: 0;
  font-size: 12px;
  position: relative;
  bottom: 4px;
}

.Controls img.active {
  border: 4px solid #386bd2;
}

.Controls img {
  border: 4px solid transparent;
}

.ControlItem.active {
  border: 4px solid #386bd2;
}

.Controls svg {
  border: 4px solid transparent;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
}

.Control_overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -200vh;
  left: 0;
  background: rgba(0,0,0,0.65);
  transition: all .25s;
  z-index: 500;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.Control_overlay.active {
  top: 0;
}

.Control_overlay_close {
  margin-bottom: 30px;
}

.tileGroup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tileGroup__group {
  width: 60px;
  margin: 0 12px;
  box-sizing: border-box;
}

.tileGroup__group.active {
  border: 4px solid #386bd2;
}

@media (min-width: 666px) {
  .tileGroup__group {
    width: 20%;
  }
}

.tileGroup h3 {
  width: 50%;
  text-align: left;
}

.Stage {
  height: 100vh;
  width: 100%;
}
.canvasParent {
  width: 100%;
  height: 500px;
  height: calc(100% - 75px);
  overflow: hidden;
  position: relative;
}

.canvasParent:focus {
  outline: none;
}

#Canvas {
  border: 1px solid black;
  width: 3000px;
  height: 3000px;
}


/* *******HOME PAGE STYLES******* */

.Home {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: calc(-105% - 100px);
  left: 0;
  transition: all .25s;
  background: white;
  z-index: 500;
  display: flex;
  justify-content: : center;
  align-items: center;
  text-align: center;
  background-image: url('../sample.jpg');
  background-size: cover;
  background-position: 25%;
}

.Home.active {
  top: 0px;
}

.Home-content-wrapper {
  /* background-color: white; */
  /* background-image: radial-gradient(circle closest-side, #f1f1f1, transparent); */
  width: 100%;
  background-color: rgba(242,242,242,.90);
  margin: 0 auto;
  padding-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.Home-button-wrapper button {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
  background: transparent;
  text-transform: uppercase;
}


.LoadOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: calc(-115% - 100px);
  left: 0;
  transition: all .25s;
  background: white;
  z-index: 600;
  overflow-y: scroll;
}

.LoadOverlay.active {
  top: 0px;
}

.LoadOverlay__close {
  position: absolute;
  top: 5px;
  left: 10px;
}

.LoadOverlay h2 {
  margin-top: 60px;
}

.LoadOverlay .MapLoadWrapper {
  display: flex;
  justify-content: center;
}

.LoadOverlay .MapLoadWrapper .MapButtonDelete {
  position: relative;
  right: 15px;
  font-size: 30px;
  margin: 0;
  margin-top: 11px;
}

.LoadOverlay .MapButton {
  font-size: 20px;
}



/* SAVE OVERLAY STUFF */

.saveOverlay {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background: white;
  z-index: -1;
  transition: position .25s;
  padding: 10px;
  border-bottom: 1px solid black;
}

.saveOverlay.active {
  z-index: 2;
  top: 75px;
}

.saveOverlay button {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
  background: transparent;
  text-transform: uppercase;
}

.saveOverlay input {
  border: 1px solid orange;
  font-size: 16px;
  padding: 5px;
  position: relative;
  bottom: 1px;
}

/* CONFIRMATION STUFF */

.Confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.75);
  z-index: 200;
  display: none;
}

.Confirmation.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Confirmation .ConfirmationInnerWrapper {
  background: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 90%;
  max-width: 500px;
  padding: 5px;
}

.Confirmation .ConfirmationInnerWrapper h3 {
  margin-top: 5px;
}

.Confirmation .CofirmationButtonWrapper {
  text-align: center;
  width: 100%;
}

.Confirmation button {
  font-size: 22px;
  padding: 15px 25px;
  color: white;
}

.Confirmation button.success {
  background: #4aa651;
  border: 1px solid #3f8644;
}

.Confirmation button.warning {
  background: #cc4a56;
  border: 1px solid #b2414c;
}


/* PREVIEW STYLES */
.PreviewInner {
  padding: 0 10px;
  max-width: 420px;
  margin: 0 auto;
}

.PreviewInner h2 {
  text-align: center;
}

.PreviewRow {
  display: flex;
  margin: 10px 0;
}


.PreviewRow div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.PreviewRow h2, .PreviewRow p {
  margin: 0;
}

.Preview button {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
  background: transparent;
  text-transform: uppercase;
  margin: 0 auto;
}

.PreviewRow.buttonWrapper {
  margin-top: 25px;
}
